$background: #282c34;
$blue: #61dafb;
$white: #fff;

$black01: rgba(0, 0, 0, .1);

$new-background: #f8f9fc;
$button-primary: #6777ef;
$button-primary-hover: #394eea;
$color-logo: #4c5fda;
$shadow: rgba(58, 59, 69, .15);
$heading: #b7b9cc;
$hover: #eee;
