@import "../sass/color";

.container-fluid {
  .sidebar {
    height: calc(100vh - 70px);
    box-shadow: 0 .15rem 1.75rem 0 $shadow;
    background-color: $white;
  }

  .content {
    padding-left: 40px;
    height: calc(100vh - 70px);
    overflow: auto;
  }
}
