@import "../../sass/color";

.page-dashboard {

  .card {
    box-shadow: 0 .15rem 1.75rem 0 $shadow;
    margin: 0 10px;
    height: 200px;
    display: flex;
    justify-content: center;
    border-radius: 10px;

    img {
      width: 80px;
      height: 80px;
    }
  }
}
