@import "../../sass/color";

.component-topbar {
  width: 100%;
  background-color: $button-primary;

  .left {
    background-color: $color-logo;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 .15rem 1.75rem 0 $shadow;

    .h1 {
      color: $white;
    }
  }

  img {
    width: 26px;
    height: 26px;
  }

  .wrap-modal {
    position: absolute;
    right: 20px;
    top: 55px;
    background-color: $white;
    box-shadow: 0 .15rem 1.75rem 0 $shadow;
    width: 120px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;

    .img {
      width: 18px;
      height: 18px;
      margin-left: 15px;
    }
  }

}
