@import "../../sass/color";

.component-topbar {
  width: 100%;
  background-color: $button-primary;

  .left {
    background-color: $color-logo;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 .15rem 1.75rem 0 $shadow;

    .h1 {
      color: $white;
    }
  }

}
