// sass-lint:disable indentation
@import "./sass/color";

body {
  margin: 0;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $new-background;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  box-shadow: 0 .15rem 1.75rem 0 $shadow;
}

.btn-primary {
  background-color: $button-primary;

  &:hover {
    background-color: $button-primary-hover;
  }
}

.btn-outline-primary {
  border-color: $button-primary;
  color: $button-primary;

  &:hover {
    background-color: $button-primary-hover;
  }
}

@media print {
	.no-print  {
		display: none;
	}
}
